.search__input {
  height: 2.5em; /*calc(1.5em + 0.75rem + 2px);*/
  padding: 0.375rem 0.75rem;
  margin-left: 1em;
  font-size: 1.1em;
  font-weight: 400;
  color: #666;
  background-color: #ebede6;
  transition: border-color 0.15s;
  border: none;
  vertical-align: middle;
  border-radius: 0.2rem 0 0 0.2rem;
}
.search__input:focus {
  outline: none;
}

.search__btn {
  margin-right: 1em;
  font-size: 1.1em;
  height: 2.5em;
  background-color: #cad2b5;
  border: 0;
  vertical-align: middle;
  border-radius: 0 0.2rem 0.2rem 0;
  transition: ease 0.3s;
}

.search__btn:hover {
  background-color: #4d4d4d;
  color: #cad2b5;
  /* border: 15px solid #000; */
}
