.list-latest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0 15px;
  /* min-height: 100vh; */
  align-items: center;
}

.ListOfHome-item {
  background-color: red;
  /* display: inline-block; */
  width: 100%;
}
