.form__title {
  text-align: center;
}

.form-addp {
  padding: 1rem;
  /* word-wrap: break-word; */
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: fit-content;
}

.form-editp {
  background: #f8f9fa;
}

.form__btn-add {
  display: block;
  width: 100%;
  font-weight: 700;
  padding: 0.6rem 0.75rem;
  transition: 0.15s ease all;

  color: #8b6f97;
  border: 1px solid #8b6f97;
  border-radius: 5px;
}
.form__btn-add:hover {
  background-color: #8b6f97;
  color: #eee;
}

.form__btn-update {
  display: block;
  width: 100%;
  font-weight: 700;
  padding: 0.4rem 0.75rem;
  transition: 0.3s ease all;

  color: #8b6f97;
  border: 1px solid #8b6f97;
  border-radius: 5px 0 0 5px;
}

.form__btn-update:hover {
  background-color: #b998c7;
  border: 1px solid #b998c7;
  color: #eee;
}

.form__btn-cancel {
  display: block;
  width: 100%;
  font-weight: 700;
  padding: 0.4rem 0.75rem;
  background-color: #aaa;
  color: #eee;
  transition: 0.15s ease all;
  border: transparent;

  border-radius: 0 5px 5px 0;
}

.form__btn-cancel:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
