.form__control {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form__control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #b69ebb;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(70 50 255 / 45%);
}

.form__group {
  margin-bottom: 0.3rem;
  padding: 0 auto;
  display: flex;
  /* justify-content: center; */
}

input .form__control {
  height: 2.5em;
}

textarea .form__control {
  height: 6em;
}
.input-image__btn-sumbit {
  display: none;
}

/* input button */
.form__label {
  margin-bottom: 0.1rem;
  font-weight: 700;
  /* width: 100%; */
}

.inputproduct__btn {
  border: none;
  padding: 0.6em 1em;
  margin: auto 0.3em 0.1em 0.3em;
  height: 100%;
  font-size: 13px;
}

.inputproduct__btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #eee;
}

@media (max-height: 770px) {
  .form__label {
    /* width: 100%; */
  }
}

@media (min-width: 1150px) {
  .form__label {
    /* width: 100%; */
  }
}
