.spinner-globainer {
  height: 100vh;
  display: grid;
  align-items: center;
  margin: 0 auto;
}

/* auth */
.cardauth {
  width: 350px;
  margin: 0 auto;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  padding: 1.5em 2em;
  /* padding: 0 1em; */
}

@media (max-width: 400px) {
  .cardauth {
    width: 250px;
  }
  .form-footer {
    padding: 0;
  }
}
.auth__logo {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 35px;
  margin: 0.5em 0;
}
.cardauth__title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.text-spiner {
  margin: 0 auto;
  padding: 0 auto;
  /* display: block; */
}
.sp-txt {
  /* align-items: initial; */
  align-items: initial;
}

.qstn {
  display: block;
  border: none;
  margin-left: auto;
  background-color: transparent;
  font-weight: 700;
}

.qstn:hover {
  color: blue;
  text-decoration-line: underline;
}
.form__title {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 1rem;
}
b {
  font-size: small;
  padding: auto;
}
.form__subtitle {
  /* margin: 0 0 0 5em; */
  font-size: large;
}

.isseller {
}
.iscustomer {
  display: none;
}

.cardauth__btn {
  cursor: pointer;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 1.5em 0;
  padding: 0.5rem 0.75rem;
  display: block;
  background-color: #444;
  transition: color 0.15s all;
  color: #fff;
}

.cardauth__btn:hover {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #fefefe;
  color: #444;
  border: 2px solid #444;
  font-weight: 700;
  transition: 0.5s ease all;
}

.cardauth__btn:focus {
  background-color: #000;
  color: #fff;
  font-weight: bolder;
  overflow: hidden;
}
