.cart__container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0 3em;
  padding: 0 15px;
}

.cart__cardls {
  height: 85vh;
  overflow: auto;
  margin: 1em auto;
  /* border-radius: 4px; */
}

@media (max-width: 800px) {
  .cart__container {
    max-width: 500px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .cart__container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 300px) {
  .cart__container {
    grid-template-columns: minmax(0px, 1fr);
  }
}
