.container-home {
  min-height: 100vh;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 11px;
}

@media (max-width: 500px) {
  .container-home {
    /* padding: 0 20px; */
    display: grid;
  }
}
button {
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background-color: #5d5d5d;
  transition-duration: 0s;
}

body::-webkit-scrollbar-button {
  background-color: #5d5d5d;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}

.popular-container {
  min-height: 500px;
  /* background-color: #ccc; */
}
