.logo {
  font-size: 35px;
}

.form-footer {
  font-size: 13px;
  padding: 0 1em;
}
.form-title {
  font-size: 25px;
  font-weight: 700;
  padding: 15px 0 0 20px;
}
@media (max-width: 400px) {
  .form-footer {
    padding: 0;
  }
}
