.cart__h2 {
  padding: 10px;
  /* margin: 0 15px; */
  background-color: #b998c7;
}
/* .container__h2 {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .cart__h2 {
    width: 100vw;
    margin: 0;
  }
} */
